<br />
<h1>Awesome Shop !</h1>
<h2 class="text-success">AKKARACHAI &#9749;</h2>
<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
  <div class="form-group mt-3">
    <label for="exampleInputEmail1">Name : </label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter name"
      formControlName="name"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email : </label>
    <input
      type="email"
      class="form-control"
      placeholder="Email"
      formControlName="email"
    />
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Phone : </label>
    <input
      type="text"
      class="form-control"
      placeholder="Enter phone number"
      formControlName="phone"
    />
  </div>
  <select class="custom-select mb-2" formControlName="drink">
    <option selected>What would you like to drink ?</option>
    <option value="Americano">Americano</option>
    <option value="Espresso">Espresso</option>
    <option value="Cappuccino">Cappuccino</option>
    <option value="Latte">Latte</option>
    <option value="MatchaLatte">MatchaLatte</option>
  </select>
  <label>Hot or Cold ?</label>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      value="Hot"
      formControlName="tempPreference"
    />
    <label class="form-check-label" for="exampleRadios2"> Hot </label>
  </div>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      value="Cold"
      formControlName="tempPreference"
    />
    <label class="form-check-label" for="exampleRadios3"> Cold </label>
  </div>
  <br />
  <div class="form-group form-check">
    <input
      type="checkbox"
      class="form-check-input"
      value="true"
      formControlName="sendText"
    />
    <label class="form-check-label" for="exampleCheck1"
      >send me a text message when my order is ready</label
    >
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!userProfileForm.valid"
  >
    Place Order
  </button>
</form>
<br />
<h3>Order Confirmation</h3>

<div>
  <p>
    Data submitted : {{ datePlaceOrder }} <br />
    {{ resultName }} <br />
    {{ resultEmail }} <br />
    {{ resultPhone }} <br />
    {{ resultDrink }} <br />
    {{ resultTempPreference }} <br />
  </p>
</div>
